/* file.css */
body {
    background-color: white; /* Set background color to white */
    color: black;            /* Set text color to black */
    font-family: 'MutatorSans', sans-serif; /* Fallback font */
}

h1 {
    text-align: center;
    font-size: 64px;
    font-weight: bold; /* Use bold for headers */
    text-decoration: underline; /* Underline the header */
}

p {
    font-size: 40px;
}

#short {
    height: 100px;
}

.tall {
    width: 100%;
    height: 400px;
}
